.halo-rich-text-editor {
  $editorVerticalPadding: 15px;
  $editorHorizontalPadding: 1rem;
  $editorContentMaxWidth: 70rem;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .editor-header {
    flex: none;
    height: 48px;
  }

  .editor-entry {
    display: flex;
    flex: 1 1 0%;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;

    .editor-main {
      position: relative;
      flex: 1 1 0%;
      flex-shrink: 1;
      min-width: 0;
      overflow-y: auto;
      background-color: theme('colors.white');

      &-extra {
        max-width: $editorContentMaxWidth;
        padding: $editorVerticalPadding $editorHorizontalPadding;
        margin: 0 auto;

        @media (min-width: 640px) {
          padding-right: 3.5rem;
          padding-left: 3.5rem;
        }
      }
    }

    &-extra {
      display: none;
      flex: none;
      flex-shrink: 0;
      width: theme('width.72');
      height: 100%;

      @media (min-width: 640px) {
        display: block;
      }
    }
  }

  .editor-main-content {
    position: relative;
    width: 100%;

    .ProseMirror {
      max-width: $editorContentMaxWidth;
      padding: $editorVerticalPadding $editorHorizontalPadding 150px
        $editorHorizontalPadding;
      margin: 0 auto;
      outline: none !important;

      @media (min-width: 640px) {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
      }

      p {
        margin-top: 0.75em;
        margin-bottom: 0;
      }

      p.is-empty::before {
        float: left;
        height: 0;
        color: #adb5bd;
        pointer-events: none;
        content: attr(data-placeholder);
      }

      pre {
        padding: 0.75rem 1rem;
        margin: 0;
        background-color: transparent;

        code {
          padding: 0 !important;
          font-size: 0.8rem;
          background: none;
          border-radius: 0;
        }
      }

      ul[data-type='taskList'] {
        padding: 0;
        list-style: none;

        p {
          margin: 0;
        }

        li {
          display: flex;

          > label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
          }

          > div {
            flex: 1 1 auto;
          }
        }
      }

      ul {
        padding-left: 1.5em;
        list-style-type: disc;
      }

      ol {
        padding-left: 1.5em;
        list-style-type: decimal;
      }

      ul ul,
      ol ul {
        list-style-type: circle;
      }

      ul ul ul,
      ol ul ul,
      ul ol ul,
      ol ol ul {
        list-style-type: square;
      }

      code br {
        display: initial;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }

  .v-popper--theme-tooltip {
    pointer-events: all;
  }
}
