.halo-rich-text-editor {
  $editorRangeFakeSelection: rgb(27 162 227 / 20%);

  .no-selection {
    *::selection {
      color: inherit;
      background-color: transparent;
    }
  }

  .range-fake-selection {
    position: relative;

    &::after {
      position: absolute;
      inset: 0;
      z-index: 99;
      pointer-events: none;
      caret-color: transparent;
      content: ' ';
      background-color: $editorRangeFakeSelection;
    }

    &.column {
      &::after {
        border-radius: 5px;
      }
    }
  }
}
