.halo-rich-text-editor {
  $tableBorderColor: #d8d8d8;
  $tableHeaderBgColor: #f6f8fa;
  $tableSelectedBorderColor: rgb(0 101 255);
  $tableSelectedCellBgColor: transparent;
  $tableResizeHandleBgColor: #adf;

  .ProseMirror {
    .table-container {
      position: relative;

      &.table-right-shadow {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 15px;
          width: 8px;
          margin-top: 27px;
          pointer-events: none;
          content: ' ';
          background: linear-gradient(90deg, transparent, rgb(0 0 0 / 8%));
        }
      }

      &.table-left-shadow {
        &::before {
          position: absolute;
          top: 0;
          bottom: 15px;
          left: 0;
          width: 8px;
          margin-top: 27px;
          pointer-events: none;
          content: ' ';
          background: linear-gradient(-90deg, transparent, rgb(0 0 0 / 8%));
        }
      }
    }

    .tableWrapper {
      position: relative;
      overflow: auto hidden;
      cursor: default;

      &.has-focus {
        .scrollWrapper {
          margin-top: -20px;
        }
      }
    }

    .scrollWrapper {
      width: max-content;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      transition: border 250ms ease-in-out 0s;
    }

    table {
      box-sizing: border-box;
      width: 100%;
      padding-top: 12px;
      padding-left: 12px;
      overflow: initial;
      border-collapse: collapse;
      border-radius: 4px;

      * {
        box-sizing: border-box;
      }

      tr {
        position: relative;
        cursor: text;
        border-bottom: 1px solid $tableBorderColor;
      }

      th {
        background: $tableHeaderBgColor;
      }

      td {
        background: #fff;
      }

      td,
      th {
        position: relative;
        min-width: 100px;
        padding: 12px 8px;
        vertical-align: top;
        text-align: left;
        border: 1px solid $tableBorderColor;

        > * {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .selectedCell {
        position: relative;
        border: 1px solid $tableSelectedBorderColor;

        &::after {
          position: absolute;
          top: -1px;
          bottom: 0;
          left: -1px;
          box-sizing: content-box;
          display: inline-block;
          width: 100%;
          height: 100%;
          pointer-events: none;
          content: '';
          border: 1px solid $tableSelectedBorderColor;
        }
      }
    }

    .grip-column {
      position: absolute;
      top: -12px;
      left: -1px;
      width: 100%;

      > div {
        position: absolute;
        top: -18px;
        left: 100%;
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 0;
        cursor: pointer;
        transform: translateX(-8px);

        .plus-icon {
          font-size: inherit;
        }
      }

      &::before {
        position: absolute;
        bottom: 4px;
        left: 100%;
        display: block;
        width: 4px;
        height: 4px;
        content: '';
        background-color: #d8d8d8;
        border-radius: 50%;
        transform: translateX(-1px);
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: content-box;
        display: block;
        width: 100%;
        height: 10px;
        cursor: pointer;
        content: '';
        background: #f6f8fa;
        border: 1px solid #d8d8d8;
      }

      &:hover {
        color: rgb(0 101 255);

        > div {
          font-size: 14px;
        }

        &::before {
          display: none;
        }

        &::after {
          background: #2584ff;
          border-color: #2584ff;
        }
      }

      &.last::after {
        border-top-right-radius: 3px;
      }

      &.selected::after {
        background: #2584ff;
        border-color: #2584ff;
      }
    }

    .grip-row {
      position: absolute;
      top: -1px;
      left: -12px;
      height: 100%;

      > div {
        position: absolute;
        bottom: 4px;
        left: -16px;
        display: inline-block;
        width: 16px;
        height: 16px;
        font-size: 0;
        cursor: pointer;
        transform: translateY(8px);

        .plus-icon {
          font-size: inherit;
        }
      }

      &::before {
        position: absolute;
        bottom: -2px;
        left: -10px;
        display: block;
        width: 4px;
        height: 4px;
        content: '';
        background-color: #d8d8d8;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: content-box;
        display: block;
        width: 10px;
        height: 100%;
        cursor: pointer;
        content: '';
        background: #f6f8fa;
        border: 1px solid #d8d8d8;
      }

      &:hover {
        color: rgb(0 101 255);

        > div {
          font-size: 14px;
        }

        &::before {
          display: none;
        }

        &::after {
          background: #2584ff;
          border-color: rgb(0 101 255);
        }
      }

      &.last::after {
        border-bottom-left-radius: 3px;
      }

      &.selected::after {
        background: #2584ff;
        border-color: rgb(0 101 255);
      }
    }

    .grip-table {
      &::after {
        position: absolute;
        top: -12px;
        left: -12px;
        box-sizing: content-box;
        display: block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        content: '';
        background: #f6f8fa;
        border: 1px solid #d8d8d8;
        border-top-left-radius: 3px;
      }

      &:hover::after {
        background: #2584ff;
        border-color: rgb(0 101 255);
      }

      &.selected::after {
        background: #2584ff;
        border-color: rgb(0 101 255);
      }
    }

    .column-resize-handle {
      position: absolute;
      top: 0;
      right: -2px;
      bottom: -2px;
      width: 4px;
      cursor: col-resize;
      background-color: $tableResizeHandleBgColor;
    }
  }
}
